#password-input{
    margin: auto auto 15px;
}

.alert {
    width: 80%;
    margin: 15px auto auto;
}


.container {
    width: 50%;
    margin: auto;

}

.btn {
    margin: 15px;
    height: 50px;
    width: 50px;
    border: 10px solid black;
    border-radius: 20%;
}

.red {
    background-color: red;
    color: red;
}

.green {
    background-color: green;
    color: green;
}

.blue {
    background-color: blue;
    color: blue;
}

.yellow {
    background-color: yellow;
    color:yellow;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}